{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to trivial-compute about page{% endblock %}</h1>

    <section>
      <h2>Team Introduction</h2>
      <p>
        We are <strong>Insert a Great Team Name Here</strong> and were created with one purpose: to make the best Trivial Compute game for <em>Foundations of Software Engineering</em>. Our name is meant to invoke the feeling of a module system that can be placed in any system — because the products we make are simple, fast, and work on all client systems.
      </p>
      <blockquote><strong>“IGTNH – Structured to adapt. Powered to execute.”</strong></blockquote>
    </section>

    <section>
      <h2>Biographies</h2>
    <section>

      <h2>Scott Crawford</h2>
      <p>
        Scott Crawford is a graduate of the computer science program at Ohio University, and is currently enrolled at JHU pursuing a master's in Computer Science to gain a better understanding of encryption and machine learning algorithms. He has been working as a software engineer for the past six and a half years with various software companies. He primarily brings experience in C++, Java, and Python programming languages to the table along with experience making games with OpenGL.
      </p>
    </section>

    <section>
      <h2>Bruce Jamison</h2>
      <p>
        Bruce Jamison is the Lead Configuration Management Engineer at IGTNH and is currently pursuing graduate studies in Information Systems Engineering. He holds a Bachelor’s degree in Information Technology from the University of Central Florida, earned in 2021. Based in Maryland, Bruce has experience working as a Network Analyst, where he focused on cybersecurity and system-level analysis and administration.
      </p>
    </section>

    <section>
      <h2>Kaden Godinez</h2>
      <p>
        Kaden Godinez is a Systems Engineer at Lockheed Martin and is pursuing an MS from JHU in Information Systems Engineering. He earned his BA in History from the University of Pennsylvania in 2009. He worked as an Information Systems Administrator for the United States Marine Corps for 8 years, prior to Lockheed Martin. Kaden brings experience in Python, infrastructure, and security to the team. He enjoys outdoor activities, AI/ML, and is a big fan of Bay FC and the NWSL (soccer).
      </p>
    </section>

    <section>
      <h2>Anjan Das</h2>
      <p>
        Anjan Das is a first semester student in the EP program at JHU, studying for a Master’s degree in Computer Science. He completed his undergraduate degree at UC Berkeley in 2023, studying Computer Science and Applied Math. When he’s not working on Trivial Compute, Anjan likes to try new food, play video games, go camping, and take naps.
      </p>
    </section>
{% endblock %}
