{% extends "base.html" %}

{% block moreScripts %} 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <link
      href="//mincss.com/entireframework.min.css"
      rel="stylesheet"
      type="text/css"
    />

    

<script>


</script>
{% endblock %}


{% block content %}

<h1>it is currnetly {{ current_user.username }}'s turn</h1>

<canvas id="gl-canvas" width="640" height="480"></canvas>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/gameBoard.js') }}" type="module"></script>
  

  <div>
    <p>roll dice and move</p>
    <input id="roll" type="button" value="roll dice" onclick="const rollDice = new WebSocket('ws://' + location.host + '/rollDice');rollDice.send(12);" />
    <input id="left_dir" type="button" value="go left" onclick="movePlayer(1)" />
    <input id="right_dir" type="button" value="go right" onclick="movePlayer(2)" />
    <input id="up_dir" type="button" value="go up" onclick="movePlayer(0)" />
    <input id="down_dir" type="button" value="go down" onclick="movePlayer(3)" />

  </div>


  
{% endblock %}