{% extends "base.html" %}

{% block moreScripts %} 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <link
      href="//mincss.com/entireframework.min.css"
      rel="stylesheet"
      type="text/css"
    />

<script>
   var current_user_id = "{{ current_user.id }}";

    function doFunction(name) {
      const socket = new WebSocket('ws://' + location.host + '/requestNewQuestion');socket.send("new");
    }

</script>
{% endblock %}


{% block content %}
    <h1>welcome {{ current_user.username }} to gameID!</h1>
    <div><p>gameID :  {{ game_count }} games </p></div>

    <div><p>current players in lobby : </p></div>
    
    <table class="lobbyTable" id="playersTable">
    <tr class="lobbyTableHeader">
      {% for header in headers %}
      <th class="lobbyTableCell">{{ header }}</th>
      {% endfor %}
    </tr >
    {% for row in data %}
    <tr class="lobbyTableRow">
      {% for cell in row %}
      <th class="lobbyTableCell">{{ cell }}</th>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <div><p>select what colors match to what catagory: </p></div>

  <table class="catagoryTable" id="catagorySelection">
    <tr class="catagoryTableHeader">
      {% for header in catagory_headers %}
      <th class="catagoryTableCell">{{ header }}</th>
      {% endfor %}
    </tr >
    {% for row in catagory_data %}
    <tr class="catagoryTableRow">
      {% for cell in row %}
      <th class="catagoryTableCell">{{ cell }}</th>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>


  <canvas id="gl-canvas" width="640" height="480"></canvas>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/gameLobby.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

  <input id="roll" type="button" value="roll dice" onclick="const rollDice = new WebSocket('ws://' + location.host + '/rollDice');rollDice.send(12);" />
  <input id="left_dir" type="button" value="go left" onclick="
  var socket = io();
    socket.on('connect', function() {
        socket.emit('message', {data:  movePlayer(current_user_id ,1)});
    }); " />
  <input id="right_dir" type="button" value="go right" onclick="movePlayer(current_user_id ,2)" />
  <input id="up_dir" type="button" value="go up" onclick="movePlayer(current_user_id,0)" />
  <input id="down_dir" type="button" value="go down" onclick="movePlayer(current_user_id ,3)" />


  <input id="rewNewQuestion" type="button" value="request new question" onclick="const socket = new WebSocket('ws://' + location.host + '/requestNewQuestion');socket.send(12);" />
  <div><p>question: <b id =quest>"None" </b> </p></div>
  
  <div>
    <p>answer 1:</p>
    <input id="answ1" type="button" value="" onclick="const socketAnsw1 = new WebSocket('ws://' + location.host + '/selectAnswer1');socketAnsw1.send(12);" />
  </div>
  <div>
    <p>answer 2: </p>
    <input id="answ2" type="button" value="" onclick="const socketAnsw2 = new WebSocket('ws://' + location.host + '/selectAnswer2');socketAnsw2.send(12);"/>
  </div>
  <div>
    <p>answer 3: </p>
    <input id="answ3" type="button" value="" onclick="const socketAnsw3 = new WebSocket('ws://' + location.host + '/selectAnswer3');socketAnsw3.send(12);"/>
  </div>
  


{% endblock %}