{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div><p>you have played {{ game_count }} games </p></div>
    <div><p>you have won {{ gamesWon_count }} games </p></div>
    <div><p>you have gotten  {{ wrongAnswer_count }} questions wrong </p></div>
    <div><p>you have gotten  {{ rightAnswer_count }} questions right </p></div>
    <div><p>please join any of the open server games </p></div>
    
    <table class="lobbyTable">
    <tr class="lobbyTableHeader">
      {% for header in headers %}
      <th class="lobbyTableCell">{{ header }}</th>
      {% endfor %}
    </tr >
    {% for row in data %}
    <tr class="lobbyTableRow">
      {% for cell in row %}
      <th class="lobbyTableCell">{{ cell }}</th>
      {% endfor %}

      <th>
        <form action="{{ url_for('join', id=row[0]) }}" method="post">
            <button type="submit">join</button>
        </form>
      </th>
    </tr>
    {% endfor %}
  </table>

{% endblock %}